<div #confirmModal
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">{{this.question}}</h5>
            </div>
            <div class="modal-footer text-center">
                <button type="button"
                        class="btn btn-outline-danger"
                        data-dismiss="modal"
                        (click)="this.declineAction()">
                    {{this.declineButtonText}}
                </button>
                <button type="button"
                        class="btn btn-outline-success"
                        (click)="this.confirmAction()">
                    {{this.confirmButtonText}}
                </button>
            </div>
        </div>
    </div>
</div>