<div class="modal fade"
     tabindex="-1"
     aria-hidden="true"
     #modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">
                    SQL importer
                </h1>
            </div>
            <div class="modal-body">
                <div *ngIf="!this.file"
                     class="file-dragndrop"
                     [ngClass]="{'file-dragndrop--active': this.isDragover}">
                    <input type="file"
                           class="d-none"
                           (change)="this.file = fileInput.files![0]; fileInput.value = ''"
                           accept=".sql,.pgsql,.psql"
                           #fileInput>
                    <button (click)="fileInput.click()"
                            class="btn btn-outline-secondary">
                        Open File
                    </button>
                    <span class="text-secondary ms-2">
                        or drop file here
                        <span class="badge bg-secondary me-1">.sql</span>
                        <span class="badge bg-secondary me-1">.psql</span>
                        <span class="badge bg-secondary">.pgsql</span>
                    </span>
                </div>

                <div *ngIf="this.file"
                     class="file d-flex flex-nowrap justify-content-between align-items-center">
                    <span>{{this.file.name}} ({{this.file.size | formatBytes}})</span>
                    <button
                            class="border-0 text-danger bg-transparent"
                            (click)="this.reset()">
                        <i class="bi bi-x fs-5"></i>
                    </button>
                </div>

                <ng-container *ngIf="this.file">
                    <div *ngIf="this.total"
                         class="progress mt-2">
                        <div class="progress-bar bg-success"
                             role="progressbar"
                             [ngStyle]="{'width':  this.loaded! / this.total! * 100 + '%'}"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            {{this.loaded! | formatBytes}}
                            /
                            {{this.total! | formatBytes}}
                        </div>
                    </div>

                    <div *ngIf="this.isImporting"
                         class="d-flex flex-column align-items-center justify-content-center mt-2">
                        <div class="spinner-grow"
                             role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <p>
                            Processing {{this.file!.name!}}...
                        </p>
                    </div>

                    <div *ngIf="this.response?.errorMessage"
                         class="alert alert-danger mt-2">
                        <i class="bi bi-exclamation-octagon-fill text-danger"></i>
                        {{this.response!.errorMessage}}
                    </div>

                    <div *ngIf="this.error"
                         class="alert alert-danger mt-2">
                        <i class="bi bi-exclamation-octagon-fill text-danger"></i>
                        {{this.error}}
                    </div>

                    <div *ngIf="this.isSent && !this.response"
                         class="alert alert-info mt-2">
                        <i class="bi bi-exclamation-octagon-fill text-info"></i>
                        The file has been successfully sent. If the file is large, it may take a long time to process.
                    </div>

                    <div *ngIf="this.response?.data"
                         class="alert alert-success mt-2">
                        <i class="bi bi-check-circle-fill text-success"></i>
                        <span class="ms-2">
                            Records affected: {{this.response!.data!.recordsAffected}}.
                        </span>
                        <span *ngIf="this.response?.data?.elapsedTimeMs"
                              class="ms-2">
                            Elapsed time: {{this.response!.data!.elapsedTimeMs! | formatMilliseconds}}
                        </span>
                    </div>
                </ng-container>
            </div>
            <div class="modal-footer text-end">
                <button type="button"
                        class="btn btn-outline-danger"
                        data-bs-dismiss="modal">
                    Close
                </button>
                <div class="btn-group"
                     role="group"
                     (click)="this.import()"
                     aria-label="export group">
                    <button class="btn btn-outline-success"
                            [disabled]="!this.file || this.isImporting">
                        Import
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<button [@transitionAnimation]
        *ngIf="this.showProgress"
        title="show progress"
        class="btn btn-outline-secondary progress-btn d-flex justify-content-between align-items-center"
        [ngClass]="{'btn-outline-success': this.response?.data, 'btn-outline-danger': this.response?.errorMessage || this.error}"
        (click)="this.openModal()">
    <span>
        <i *ngIf="this.error || this.response?.errorMessage"
           class="bi bi-exclamation-octagon-fill">
        </i>
         <i *ngIf="this.response?.data"
            class="bi bi-check-circle-fill">
         </i>
        <span *ngIf="this.isImporting"
              class="spinner-grow spinner-grow-sm"
              role="status"
              aria-hidden="true">
        </span>
        <span class="ms-1">SQL Importer</span>
    </span>
    <span class="text-end">
        <i class="bi bi-chevron-compact-up"></i>
    </span>
</button>