<div class="query__navigation">
    <button (pointerdown)="this.isSidebar = !this.isSidebar"
            [ngClass]="this.isSidebar ? 'btn-secondary' : 'btn-outline-secondary'"
            class="btn p-1 query__navigation-item btn-sm">
        <i class="bi bi-database-fill-gear text-sm"></i>
        <span class="query__navigation-text">Database</span>
    </button>
</div>
<div class="container">
    <div class="row align-items-lg-stretch flex-lg-nowrap">
        <div class="query__main col order-1 mt-lg-0"
             #queryMain
             [ngClass]="{'col-12': !this.isSidebar, 'col-xs-12 col-lg-9 mt-3': this.isSidebar}">
            <div resizable
                 [minHeight]="300"
                 [maxHeight]="800"
                 class="row">
                <div class="col-12">
                    <div class="text-box__wrapper box-shadow">
                        <textarea #textArea
                                  class="text-box__query">
                        </textarea>

                        <ng-template #queryGutter
                                     let-isSelect="isSelect"
                                     let-startLine="startLine"
                                     let-endLine="endLine"
                                     let-queryIndex="queryIndex">
                            <div class="queryGutter">
                                <button *ngIf="isSelect != true"
                                        class="codeMirror__gutter-query-button"
                                        title="Execute selected query"
                                        (click)="this.execute(queryIndex)"
                                        (mouseenter)="this.addLineSelection(startLine, endLine)"
                                        (mouseleave)="this.removeLineSelection()">
                                    <i class="bi bi-caret-right-fill"></i>
                                </button>

                                <div *ngIf="isSelect == true"
                                     class="btn-group dropend">
                                    <button class="codeMirror__gutter-query-button"
                                            type="button"
                                            title="Open actionbar"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false"
                                            (mouseenter)="this.addLineSelection(startLine, endLine)"
                                            (mouseleave)="this.removeLineSelection()">
                                        <i class="bi bi-caret-right-fill"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <button class="dropdown-item"
                                                    (click)="this.execute(queryIndex)">
                                                Execute
                                                <i class="bi bi-caret-right-fill"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item"
                                                    (click)="this.execute(queryIndex, true)">
                                                Execute at new tab
                                                <i class="bi bi-file-earmark-plus"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item"
                                                    (click)="this.dsvExporter?.openExecuteToDsvModal(this.getQuerySql(queryIndex), this.selectedDatabase?.name)">
                                                Execute to DSV
                                                <i class="bi bi-filetype-csv"></i>
                                            </button>
                                        </li>
                                        <li *ngIf="this.savedQueriesComponent.isSupported">
                                            <button class="dropdown-item"
                                                    (click)="this.savedQueriesComponent?.showSaveModal(this.getQuerySql(queryIndex)!)">
                                                Save query
                                                <i class="bi bi-cloud-arrow-up-fill"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </ng-template>

                        <div class="info-panel__wrapper">
                            <div class="d-none d-lg-block">
                                <div hidden
                                     #InfoPopover>
                                    <div class="d-flex flex-nowrap justify-content-between">
                                    <span class="bg-secondary text-nowrap text-white rounded-1 px-1 fw-bold text-nowrap me-2">
                                        {{this.isMacOs ? 'Option' : 'Alt'}} + ArrowUp
                                    </span>
                                        <span class="text-nowrap">Move line up</span>
                                    </div>
                                    <div class="d-flex flex-nowrap justify-content-between mt-1">
                                    <span class="bg-secondary text-white rounded-1 px-1 fw-bold text-nowrap me-2">
                                        {{this.isMacOs ? 'Option' : 'Alt'}} + ArrowDown
                                    </span>
                                        <span class="text-nowrap">Move line down</span>
                                    </div>
                                    <div class="d-flex flex-nowrap justify-content-between mt-1">
                                        <span class="bg-secondary text-white rounded-1 px-1 fw-bold text-nowrap me-2">Shift + Space</span>
                                        <span class="text-nowrap">Show hints</span>
                                    </div>
                                    <div class="d-flex flex-nowrap justify-content-between mt-1">
                                        <span class="bg-secondary text-white rounded-1 px-1 fw-bold text-nowrap me-2">Ctrl + /</span>
                                        <span class="text-nowrap">Comment line</span>
                                    </div>
                                    <div class="d-flex flex-nowrap justify-content-between mt-1">
                                        <span class="bg-secondary text-white rounded-1 px-1 fw-bold text-nowrap me-2">Ctrl + D</span>
                                        <span class="text-nowrap">Duplicate line</span>
                                    </div>
                                    <div class="d-flex flex-nowrap justify-content-between mt-1">
                                        <span class="bg-secondary text-white rounded-1 px-1 fw-bold text-nowrap me-2">Ctrl + Y</span>
                                        <span class="text-nowrap">Delete line</span>
                                    </div>
                                    <div class="d-flex flex-nowrap justify-content-between mt-1">
                                    <span class="bg-secondary text-white rounded-1 px-1 fw-bold text-nowrap me-2">{{this.isMacOs ? 'Option' : 'Alt'}}
                                        + Enter</span>
                                        <span class="text-nowrap">Execute</span>
                                    </div>
                                    <div class="d-flex flex-nowrap justify-content-between mt-1">
                                        <span class="bg-secondary text-white rounded-1 px-1 fw-bold text-nowrap me-2">{{this.isMacOs ? 'Option' : 'Alt'}}
                                            + S</span>
                                        <span class="text-nowrap">Save query (if supported)</span>
                                    </div>
                                    <div class="d-flex flex-nowrap justify-content-between mt-1">
                                        <span class="bg-secondary text-white rounded-1 px-1 fw-bold text-nowrap me-2">{{this.isMacOs ? 'Option' : 'Alt'}}
                                            + V</span>
                                        <span class="text-nowrap">Show saved queries (if supported)</span>
                                    </div>

                                    <p class="mt-2 mb-0">Other key bindings specified at
                                        <a href="https://codemirror.net/docs/ref/#commands"
                                           target="_blank">
                                            CodeMirror Commands
                                        </a>
                                    </p>
                                </div>
                                <button data-bs-toggle="popover"
                                        data-bs-placement="top"
                                        data-bs-custom-class="mw-100"
                                        data-trigger="focus"
                                        [attr.data-bs-content]="InfoPopover.innerHTML"
                                        title="Key bindings"
                                        class="btn btn-outline-secondary info-panel__opener">
                                    ?
                                </button>
                            </div>

                            <div *ngIf="this.savedQueriesComponent.isSupported"
                                 class="dropdown mt-1">
                                <button class="btn btn-outline-secondary info-panel__opener"
                                        type="button"
                                        data-bs-toggle="dropdown"
                                        data-bs-autoClose="true"
                                        data-bs-boundary="document"
                                        aria-expanded="false">
                                    <i class="bi bi-list-stars"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <button class="dropdown-item"
                                                (click)="this.savedQueriesComponent.showPopover($event.clientX - 50, $event.clientY, $event)">
                                            Show saved queries
                                            <i class="bi bi-list-task"></i>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item"
                                                (click)="this.savedQueriesComponent.showEditModal()">
                                            Edit saved queries
                                            <i class="bi bi-pencil-square"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 d-flex">
                    <div class="actionbar">
                        <div class="btn-group me-2">
                            <button [disabled]="this.isExecuting || this.rawQuery.length == 0 || this.isFetchingInstanceData"
                                    (click)="this.execute()"
                                    type="button"
                                    class="btn btn-outline-success">
                                <i *ngIf="!this.isExecuting && !this.isFetchingInstanceData"
                                   class="bi bi-caret-right-fill me-1">
                                </i>
                                <span *ngIf="!this.isExecuting && !this.isFetchingInstanceData">Execute</span>

                                <span *ngIf="this.isExecuting || this.isFetchingInstanceData"
                                      class="spinner-grow spinner-grow-sm me-1"
                                      role="status"
                                      aria-hidden="true">
                                </span>
                                <span *ngIf="this.isExecuting || this.isFetchingInstanceData">Executing...</span>
                            </button>
                            <button [disabled]="this.isExecuting || this.rawQuery.length == 0 || this.isFetchingInstanceData"
                                    type="button"
                                    class="btn btn-outline-success rounded-end"
                                    data-bs-toggle="dropdown"
                                    data-bs-autoClose="true"
                                    data-bs-config='{"display": "static"}'
                                    aria-expanded="true">
                                <i class="bi bi-chevron-compact-down"></i>
                            </button>
                            <ul class="dropdown-menu"
                                role="menu"
                                data-popper-placement="bottom-start">
                                <li>
                                    <button class="dropdown-item"
                                            (click)="this.execute(undefined, true)">
                                        Execute at new tab
                                        <i class="bi bi-file-earmark-plus"></i>
                                    </button>
                                </li>
                                <li>
                                    <button [disabled]="!this.anyValidSelect"
                                            class="dropdown-item"
                                            (click)="dsvExporterComponent.openExecuteToDsvModal(this.getQuerySql(this.lastSelectQueryIndex), this.selectedDatabase!.name)">
                                        Export to DSV
                                        <i class="bi bi-filetype-csv"></i>
                                    </button>
                                </li>
                                <li>
                                    <button [disabled]="!this.anyValidSelect"
                                            class="dropdown-item"
                                            (click)="dsvExporterComponent.openExecuteToDsvModal(this.getQuerySql(this.lastSelectQueryIndex), this.selectedDatabase!.name)">
                                        Export to DSV
                                        <i class="bi bi-filetype-csv"></i>
                                    </button>
                                </li>
                                <li *ngIf="this.savedQueriesComponent.isSupported">
                                    <button class="dropdown-item"
                                            [disabled]="!this.rawQuery"
                                            (click)="this.savedQueriesComponent?.showSaveModal(this.rawQuery)">
                                        Save query
                                        <i class="bi bi-cloud-arrow-up-fill"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <button [hidden]="this.anyValidSelect < 2"
                                data-bs-toggle="popover"
                                data-bs-placement="top"
                                data-bs-trigger="click hover"
                                data-bs-content="The result will only be saved for the last 'SELECT' query."
                                class="btn me-2 lh-sm btn-outline-warning rounded-circle">
                            !
                        </button>
                        <div class="d-inline-block">
                            <button [disabled]="this.isExecuting || this.isFetchingInstanceData || sqlImporter.isImporting || dsvImporter.isImporting"
                                    type="button"
                                    class="btn btn-outline-success"
                                    data-bs-toggle="dropdown"
                                    data-bs-autoClose="true"
                                    data-bs-popper-config='{"placement": "bottom-start", "strategy":"fixed"}'
                                    aria-expanded="true">
                                Import
                                <i class="bi bi-chevron-compact-down"></i>
                            </button>
                            <ul class="dropdown-menu"
                                role="menu"
                                data-popper-placement="bottom-start">
                                <li>
                                    <button
                                            [disabled]="!this.selectedDatabase?.name"
                                            class="dropdown-item"
                                            (click)="sqlImporter.show()">
                                        Import SQL file
                                        <i class="bi bi-filetype-sql"></i>
                                    </button>
                                </li>
                                <li>
                                    <button
                                            [disabled]="!this.selectedDatabaseTables?.length"
                                            class="dropdown-item"
                                            (click)="dsvImporter.show()">
                                        Import DSV file
                                        <i class="bi bi-filetype-sql"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="setting-bar ms-auto">
                        <div class="setting-bar__select">
                            <button (click)="selectMenu.hidden = !selectMenu.hidden"
                                    class="btn btn-outline-secondary text-nowrap"
                                    type="button">
                                <span>
                                    Query limit
                                    <span class="setting-bar__select-value">{{this.queryLimit ?? "None"}}</span>
                                </span>
                                <i class="bi"
                                   [ngClass]="selectMenu.hidden ? 'bi-chevron-compact-down' : 'bi-chevron-compact-up'">
                                </i>
                            </button>
                            <ul class="setting-bar__select-menu box-shadow"
                                #selectMenu
                                hidden>
                                <li class="setting-bar__select-item__wrapper">
                                    <button class="setting-bar__select-item"
                                            (click)="this.selectLimit(selectMenu, undefined)">
                                        None
                                    </button>
                                </li>
                                <li class="setting-bar__select-item__wrapper">
                                    <button class="setting-bar__select-item"
                                            (click)="this.selectLimit(selectMenu, 1)">
                                        1
                                    </button>
                                </li>
                                <li class="setting-bar__select-item__wrapper">
                                    <button class="setting-bar__select-item"
                                            (click)="this.selectLimit(selectMenu, 100)">
                                        100
                                    </button>
                                </li>
                                <li class="setting-bar__select-item__wrapper">
                                    <button class="setting-bar__select-item"
                                            (click)="this.selectLimit(selectMenu, 1000)">
                                        1000
                                    </button>
                                </li>
                                <li class="setting-bar__select-item__wrapper">
                                    <input placeholder="Enter limit..."
                                           class="setting-bar__select-input"
                                           [value]="this.queryLimit"
                                           (change)="this.selectLimit(selectMenu, selectInput.value, false)"
                                           #selectInput
                                           type="number">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div resizable
                 [minHeight]="300"
                 [maxHeight]="800"
                 class="row mt-3">
                <div class="col-12 h-100">
                    <div class="output tab-content box-shadow">
                        <div class="tab-pane active"
                             id="console"
                             role="tabpanel"
                             aria-labelledby="console-tab">
                            <div class="output__console font-monospace d-flex flex-column-reverse">
                                <div *ngFor="let consoleRow of this.console.consoleRowList.slice().reverse()"
                                     class="output__console-row">
                                    <span *ngIf="consoleRow.severity != 'separator'"
                                          copied
                                          class="output__console-datetime">
                                        <span class="d-none d-md-inline">{{consoleRow.messageTime | date:"[yyyy-MM-dd HH:mm:ss]"}}</span>
                                        <span class="d-md-none">{{consoleRow.messageTime | date:"[HH:mm:ss]"}}</span>
                                    </span>
                                    <span *ngIf="consoleRow.severity != 'separator'"
                                          copied
                                          class="output__console-message"
                                          [ngClass]="consoleRow.severity.length > 0 ? 'text-' + consoleRow.severity : ''">
                                        {{consoleRow.message}}
                                    </span>
                                    <hr *ngIf="consoleRow.severity == 'separator'"
                                        class="output__console-separator">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane"
                             id="tableview"
                             role="tabpanel"
                             aria-labelledby="tableview-tab">
                            <div *ngIf="this.isExecuting"
                                 class="spinner-grow output__table-spinner"
                                 role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="output__table-wrapper"
                                 [ngClass]="{'output__table-wrapper--popup': tableViewPopupState}">
                                <div (click)="tableViewPopupState = !tableViewPopupState"
                                     class="output__table-closer"
                                     [hidden]="!tableViewPopupState">
                                </div>

                                <div class="output__table font-monospace"
                                     [ngClass]="{'output__table--popup': tableViewPopupState}">
                                    <div class="output__table-actionbar btn-toolbar align-items-start p-1">
                                        <div class="btn-group btn-group-sm">
                                            <button class="btn btn-outline-secondary rounded-1"
                                                    [disabled]="!this.results.length || this.selectedTableIndex == undefined"
                                                    type="button"
                                                    data-bs-toggle="dropdown"
                                                    data-bs-boundary="viewport"
                                                    aria-expanded="false">
                                                <i class="bi bi-save"></i>
                                                Export
                                                <i class="bi bi-chevron-compact-down"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <button class="dropdown-item"
                                                            (click)="dsvExporterComponent.openExportToDsvModal(this.results[this.selectedTableIndex])">
                                                        Export to DSV
                                                        <i class="bi bi-filetype-csv"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>

                                        <div *ngIf="results.length > 1"
                                             class="btn-group btn-group-sm result-navigation ms-2">
                                            <button *ngFor="let table of results; let tableIndex = index"
                                                    class="btn btn-outline-secondary"
                                                    [ngClass]="{'active' : tableIndex == this.selectedTableIndex}"
                                                    (click)="this.selectedTableIndex = tableIndex"
                                                    type="button">
                                                {{table.name}}
                                                <i [hidden]="tableIndex == 0"
                                                   class="bi bi-x-circle cursor-pointer result-closer"
                                                   (click)="this.closeResultTab(tableIndex)">
                                                </i>
                                            </button>
                                        </div>

                                        <div class="btn-group btn-group-sm ms-auto ms-2">
                                            <button (click)="tableViewPopupState = !tableViewPopupState"
                                                    class="btn btn-outline-secondary output__table-opener"
                                                    [title]="tableViewPopupState ? 'Collapse' : 'Expand'">
                                                <i class="bi bi-arrows-angle-expand"
                                                   [ngClass]="{'bi-arrows-angle-contract': tableViewPopupState,'bi-arrows-angle-expand': !tableViewPopupState}">
                                                </i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="tab-content h-100">
                                        <div *ngFor="let table of results; let tableIndex = index"
                                             [ngClass]="{'show active': tableIndex == this.selectedTableIndex}"
                                             class="tab-pane h-100">

                                            <div class="output__table-result">
                                                <table class="table table-bordered w-100">
                                                    <thead>
                                                        <tr>
                                                            <th *ngFor="let column of table.header"
                                                                scope="col">
                                                                <span copied>{{column.columnName}}</span>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let row of table.body"
                                                            class="output__table-row">
                                                            <td class="output__table-column"
                                                                *ngFor="let column of row">
                                                                <span [ngClass]="{'output__table-column-value--expandable': column.isExpandable && !column.expanded}"
                                                                      class="output__table-column-value">
                                                                    <span copied>{{column.value}}</span>
                                                                </span>

                                                                <button title="{{column.expanded ? 'Collapse' : 'Expand'}}"
                                                                        (click)="column.expanded = !column.expanded"
                                                                        *ngIf="column.isExpandable"
                                                                        class="output__table-column-opener">
                                                                    <i class="bi bi-three-dots"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3 align-items-center">
                <div class="col-12 h-auto">
                    <ul class="nav nav-pills d-inline-flex flex-nowrap"
                        role="tablist">
                        <li class="nav-item"
                            role="presentation">
                            <button #consoleHandle
                                    class="btn btn-outline-secondary active"
                                    data-bs-toggle="tab"
                                    data-bs-target="#console"
                                    type="button"
                                    role="tab"
                                    aria-selected="true">
                                Console
                            </button>
                        </li>
                        <li class="nav-item"
                            role="presentation">
                            <button #resultHandle
                                    class="btn btn-outline-secondary"
                                    data-bs-toggle="tab"
                                    data-bs-target="#tableview"
                                    type="button"
                                    role="tab"
                                    aria-selected="false">
                                Result
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div resizableCol
             (onResize)="this.onResizeSidebar($event)"
             [maxWidth]="60"
             [minWidth]="25"
             class="query__sidebar order-0 order-lg-2 col-12"
             [hidden]="!this.isSidebar"
             [ngClass]="{'query__sidebar--opened': this.isSidebar}"
             #querySidebar>
            <div class="row">
                <div class="col-12">
                    <div class="query__sidebar-section box-shadow">
                        <div class="query__sidebar-inner-section"
                             (onSizeChange)="this.onResizeSidebarContent(databaseViewerContainer, sidebarNavigation)"
                             #databaseViewerContainer>
                            <app-database-viewer
                                    [queryLimit]="this.queryLimit"
                                    [console]="this.console"
                                    (onSelectDatabase)="this.onSelectDatabase($event)"
                                    (onExecuteRawSql)="this.onExecuteRawSql($event)"
                                    (onInsertNewLine)="this.insertNewLineToEditor($event)"
                                    (onSelectSchema)="this.onSelectSchema($event)"
                                    #databaseViewer>
                            </app-database-viewer>
                        </div>

                        <div #sidebarNavigation
                             class="navigation-container flex-nowrap mt-2 d-none">
                            <button
                                    (click)="this.scrollTo(databaseViewerContainer, 0)"
                                    class="btn d-block btn-sm btn-outline-secondary py-0 px-2 me-1">
                                <i class="bi bi-chevron-compact-up"></i>
                            </button>
                            <button
                                    (click)="this.scrollTo(databaseViewerContainer, databaseViewerContainer.scrollHeight)"
                                    class="btn d-block btn-sm btn-outline-secondary py-0 px-2">
                                <i class="bi bi-chevron-compact-down"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<dsv-exporter modalId="dsvModal"
              #dsvExporterComponent>
</dsv-exporter>

<app-sql-importer [database]="this.selectedDatabase?.name"
                  #sqlImporter>
</app-sql-importer>

<app-dsv-importer [database]="this.selectedDatabase?.name"
                  [tableList]="this.selectedDatabaseTables"
                  #dsvImporter>
</app-dsv-importer>

<app-saved-queries (insertQuery)="this.insertAtCursor($event)"
                   (onClose)="this.onClosePopover($event)"
                   #savedQueriesComponent></app-saved-queries>